html {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  text-align: right;
  background: #333333;
  color: pink;
  font-size: 13px;
}
h1 {
  color: rgb(165, 38, 190);
}

h2 {
  text-align: center;
  font-size: 40px;
}

.header img {
  position: relative;
}
